.btnBackHeader {
    position: fixed;
    z-index: 10;
    height: 37px;
    width: 37px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: 1px solid #f5f5f5;
    outline: none;
    box-shadow: 0 0 2px rgb(178, 175, 175);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 0;
        background-color: rgba(17, 17, 17, 0.156);
        transition: all 0.35s ease-in;
    }
    &:hover {
        border: none;
        color: rgb(0, 0, 0);
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}
