.loginForm a {
    text-decoration: none;
}

.loginForm .inputInfor {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

::placeholder {
    color: grey;
    font-weight: 400;
}

.loginBtn {
    display: inline-block;
    background-color: transparent;
    color: blue;
    font-weight: 300;
    position: relative;
    border: none;
    outline: none;
}

.loginBtn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0;
    width: 100%;
    background-color: black;
    z-index: -1;
    transition: height 0.25s ease-in;
}

.loginBtn:hover {
    color: white;
}

.loginBtn:hover:before {
    height: 100%;
}
