.cart {
    position: relative;
    .cardProduct {
        display: flex;
        font-size: 1.2rem;
        img {
            width: 10rem;
        }

        .contentProduct {
            margin: 2.5rem 0 0 0.4rem;
            width: 100%;

            p {
                color: #333;
                font-weight: 200;
            }
            .nameProduct {
                color: #333;
                font-weight: 200;

                &:hover {
                    color: orange;
                    font-weight: 300;
                }
            }
            .wrapperDeleteProduct {
                display: flex;
                justify-content: space-between;
                margin-right: 0.5rem;
                button {
                    border: none;
                    outline: none;

                    background-color: transparent;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
    :after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgb(226, 226, 226);
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(50%);
    }
}

@media only screen and (max-width: 767px) {
    .cart {
        margin-left: -3rem;
        .cardProduct {
            font-size: 0.9em;

            .contentProduct {
                margin: 2rem 0 0 0.4rem;
            }
        }
        :after {
            content: '';
            display: none;
        }
    }
}
