.navHeader {
    margin-top: -15px;
    margin-bottom: -18px;
}

.navHeaderItem {
    position: relative;
}

.navHeaderItem:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #777474;
    transition: all 0.25s ease-in;
}

.navHeaderItem:hover:before {
    width: 100%;
}

.wrapper_icons_header {
    height: 4.5rem;
    background-color: #f8f9fa;
    margin-bottom: -20px;
}
.navIcons {
    // background-color: bisque;
    margin-top: -3%;
    padding: 1%;
    font-size: 1.3rem;
    font-style: italic;
}

.icon {
    color: #81808e;
    font-weight: 400;
    transition: 0.5s ease;
}

.icon:hover {
    color: black;
}

.cartIcon {
    position: relative;
    .quatityProductInCart {
        position: absolute;
        top: 6px;
        right: 5px;
        height: 18px;
        width: 18px;
        text-align: center;
        border-radius: 100%;
        background-color: #81808e;
        color: rgb(248, 248, 248);
        font-size: 12px;
        transition: 0.5s ease;
    }
    &:hover {
        .quatityProductInCart {
            background-color: #2e2e32;
        }
    }
}
