.containerUser {
    margin-top: 3rem;
    .titleLeft {
        font-size: 1.6rem;
        color: #333;
        font-weight: 200;
        margin-top: 10px;
        transition: all 0.025s;
        &:hover {
            font-weight: 300;
        }
    }
    .titleRight {
        font-size: 1.6rem;
        color: #333;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .inforUser {
        font-size: 1.3rem;
        color: #333;
        font-weight: 300;
    }
}
