.containerUser {
    margin-top: 3rem;
    .titleLeft {
        font-size: 1.2rem;
        color: #333;
        font-weight: 200;
        margin-top: 10px;
        transition: all 0.025s;
        &:hover {
            font-weight: 300;
        }
    }
    .titleRight {
        font-size: 1.4rem;
        color: #333;
        font-weight: 300;
        margin-top: 1rem;
    }

    .btnEdit {
        border: none;
        outline: none;
        margin-top: 2rem;
        font-size: 1rem;
        color: #333;
        background-color: transparent;
        transition: all 0.025s;
        &:hover {
            background-color: rgba(51, 51, 51, 0.125);
        }
    }
}
