.containerUser {
    margin-top: 3rem;
    .titleLeft {
        font-size: 1.6rem;
        color: #333;
        font-weight: 200;
        margin-top: 10px;
        transition: all 0.025s;
        &:hover {
            font-weight: 300;
        }
    }
    .titleRight {
        font-size: 1.4rem;
        color: #333;
        font-weight: 300;
    }
    .btnLogout {
        border: none;
        outline: none;
        padding: 0;
        background-color: transparent;
        font-size: 1.6rem;
        color: #333;
        font-weight: 200;
        margin-top: 10px;
        transition: all 0.025s;
        &:hover {
            font-weight: 300;
        }
    }
    .updateBtn {
        display: inline-block;
        background-color: transparent;
        color: blue;
        font-weight: 300;
        position: relative;
        border: none;
        outline: none;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 0;
            width: 100%;
            background-color: black;
            z-index: -1;
            transition: height 0.25s ease-in;
        }
        &:hover {
            color: white;
        }

        &:hover:before {
            height: 100%;
        }
    }
}
