.titleWe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introWe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.blockIntro {
    margin: 130px 0 110px 0;
}
